.header__logo {
    width: 142px;
    height: 33px;
    margin-bottom: 4.091%;
}

@media screen and (max-width: 490px) {
    .header__logo {
        width: 103.74px;
        height: 24.4px;
        margin-left: 9.875%;
        margin-bottom: 9.1%;
    }
}