.profile__info {
    width: 62.46%;
    display: grid;
    grid-template-columns: fit-content(505px) fit-content(24px);
    grid-template-rows: 71.123% 28.658%;
    column-gap: 3.357%;
    row-gap: 4px;
    margin-left: 3.41%;
    margin-right: 3.41%;
}

@media screen and (max-width: 910px) {
    .profile__info {
        grid-template-rows: 69.123% 29.658%;
    }
}

@media screen and (max-width: 768px) {
    .profile__info {
        grid-template-rows: 59.123% 32.658%;
    }
}

@media screen and (max-width: 490px) {
    .profile__info {
        width: 100%;
        margin-top: 9.22%;
        margin-bottom: 11.2%;
        margin-left: 0;
        margin-right: 0;
        padding-left: 24px;
        padding-right: 8px;
        box-sizing: border-box;
        grid-template-rows: 59.123% 36.658%;
        justify-content: center;
    }
}