.popup__close-button {
    background-image: url('../../../images/close-button.svg');
    background-repeat: no-repeat;
    background-position: center;
    width: 40px;
    height: 40px;
    position: absolute;
    top: -40px;
    right: -40px;
    background-color: transparent;
    border: none;
    box-sizing: border-box;
    padding: 0;
    transition: opacity 0.2s linear;
}

.popup__close-button:hover {
    opacity: 0.6;
    cursor: pointer;
}

@media screen and (max-width: 1045px) {
    .popup__close-button {
        background-size: cover;
        top: -32px;
        right: -32px;
    }
}

@media screen and (max-width: 680px) {
    .popup__close-button {
        top: -50px;
        right: -1px;
    }
}